<?php
// __construct
$finder = PhpCsFixer\Finder::create()
	->name('/.+\.(php|inc|class|css|js|xaml|xml|html)$/')
	->exclude(array('lib/composer','dev_vendor'))
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
	->setRiskyAllowed(true)
	->setRules(array(
		'@PSR2' => true,
		'align_multiline_comment' => array('comment_type' => 'phpdocs_like'),
		'array_syntax' => array('syntax' => 'long'),
		'blank_line_before_statement' => array(
			'statements' => array(
				'break',
				'case',
				'continue',
				'declare',
				'default',
				'die',
				'do',
				'exit',
				'for',
				'foreach',
				'goto',
				'if',
				'include',
				'include_once',
				'require',
				'require_once',
				'return',
				'switch',
				'throw',
				'try',
				'while',
				'yield',
			),
		),
		'braces' => array(
			'allow_single_line_closure' => true,
			'position_after_anonymous_constructs' => 'same',
			'position_after_control_structures' => 'same',
			'position_after_functions_and_oop_constructs' => 'same',
		),
		'cast_spaces' => array('space' => 'none'),
		'class_attributes_separation' => array(
			'elements' => array(
				'method',
			),
		),
		'comment_to_phpdoc' => false,
		'concat_space' => array('spacing' => 'one'),
		'date_time_immutable' => false,
		'declare_equal_normalize' => array('space' => 'single'),
		'escape_implicit_backslashes' => false,
		'explicit_indirect_variable' => false,
		'explicit_string_variable' => false,
		'fully_qualified_strict_types' => false,
		'hash_to_slash_comment' => true,
		'include' => true,
		'linebreak_after_opening_tag' => true,
		'list_syntax' => array('syntax' => 'long'),
		'lowercase_cast' => true,
		'mb_str_functions' => false,
		'method_chaining_indentation' => true,
		'new_with_braces' => true,
		'native_function_casing' => true,
		'no_blank_lines_after_class_opening' => true,
		'no_blank_lines_after_phpdoc' => true,
		'no_break_comment' => array('comment_text' => 'Fall Through'),
		'no_empty_comment' => true,
		'no_empty_phpdoc' => true,
		'no_empty_statement' => true,
		'no_mixed_echo_print' => array('use' => 'echo'),
		'no_null_property_initialization' => true,
		'no_php4_constructor' => true,
		'no_short_echo_tag' => true,
		'no_superfluous_elseif' => true,
        'no_superfluous_phpdoc_tags' => true,
		'no_trailing_comma_in_list_call' => true,
		'no_trailing_comma_in_singleline_array' => true,
		'no_unneeded_control_parentheses' => array(
			'statements' => array(
				'break',
				'clone',
				'continue',
				'echo_print',
				'return',
				'switch_case',
				'yield',
			),
		),
        'no_useless_else' => true,
        'no_useless_return' => true,
		'no_whitespace_before_comma_in_array' => true,
		'no_whitespace_in_blank_line' => true,
		'normalize_index_brace' => true,
		'protected_to_private' => true,
		'pow_to_exponentiation' => true,
		'random_api_migration' => array(
			'replacements' => array(
				'getrandmax' => 'mt_getrandmax',
				'rand' => 'mt_rand',
				'srand' => 'mt_srand',
			),
		),
		'single_line_comment_style' => true,
		'standardize_not_equals' => true,
		'trailing_comma_in_multiline_array' => true,
		'trim_array_spaces' => true,
		'whitespace_after_comma_in_array' => true,
	))
	->setCacheFile(__DIR__.'/.php_cs.cache')
	->setIndent("\t")
	->setFinder($finder)
;
