<?php
// __construct
$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('lib/adodb')
    ->exclude('lib/bbcode')
    ->exclude('lib/joomla')
    ->exclude('lib/JSON')
    ->exclude('lib/pear')
    ->exclude('lib/phpass')
    ->exclude('lib/smarty')
    ->exclude('lib/smtp')
    ->exclude('lib/yui')
    ->exclude('po')
    ->notPath('#modules/.+/lib#')
    ->notPath('modules/core/CoreModuleExtras.inc')
    ->notPath('modules/core/classes/helpers/GalleryPermissionHelper_simple.class')
    ->name('*.class')
    ->name('*.html')
    ->name('*.inc')
    ->name('*.php');

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(false)
    ->setRules(
        array(
        '@PSR2' => true,
        'blank_line_before_return' => true,
        'braces' => array(
            'allow_single_line_closure' => true,
            'position_after_functions_and_oop_constructs' => 'same'
        ),
        'concat_space' => array('spacing' => 'one'),
        'declare_equal_normalize' => array('space' => 'single'),
        'hash_to_slash_comment' => true,
        'include' => true,
        'indentation_type' => true,
        'linebreak_after_opening_tag' => true,
        'lowercase_cast' => true,
        'method_separation' => true,
        'new_with_braces' => true,
        'native_function_casing' => true,
        'no_blank_lines_after_class_opening' => true,
        'no_blank_lines_after_phpdoc' => true,
        'no_empty_comment' => true,
        'no_empty_phpdoc' => true,
        'no_empty_statement' => true,
        'no_extra_consecutive_blank_lines' => true,
        'no_mixed_echo_print' => array('use' => 'echo'),
        'no_short_echo_tag' => true,
        'normalize_index_brace' => true,
        'pow_to_exponentiation' => false,
        'protected_to_private' => true,
        'random_api_migration' => false,
        'self_accessor' => true,
        'standardize_not_equals' => true,
        'ternary_to_null_coalescing' => false,
        )
    )
    ->setIndent("\t")
    ->setFinder($finder);
