/* ^PHPCS_CSS_T_OPEN_TAG^ $colorpackName = $gallery->i18n('PG Silver'); ^PHPCS_CSS_T_CLOSE_TAG^
 * $Revision: 2.0 $ $Date: 2003/03/14
 */

#gallery {
  color: #444 !important;
  background-color: #ddd !important;
}
body.gallery, .PPBackground { background-color: #ddd !important; }

.gcBackground1 { background-color: #c8c8c8 !important; }
.gcBackground2, .iframeBackground { background-color: #a0a0a0 !important; }

.gcBorder1 { border-color: #eee !important; }
.gcBorder2 { border-color: #777 !important; }
.gcBorder1Author { border-right: 1px solid #eee !important; }
.gcBorder1Top { border-bottom: 1px solid #eee !important; }


#gallery a { color: #444 !important; }
#gallery a:hover { color: #fff !important; }
#gallery a:active { color: #bbb !important; }

.giSuccess { color: #190 !important; }
.giWarning { color: #b31 !important; }
.giError { color: #d14 !important; }
.giInfo { color: #888 !important; }
.block-core-PeerList .current { color: #666 !important; }

table.gbDataTable th { background-color: #aaa !important; }
.gbEven { background-color: #ccc !important; }
.gbOdd { background-color: #aaa !important; }

input.inputTypeSubmit, input.inputTypeButton { background-color: #ddd !important; }
#gallery select { background-color: #efefef !important; }



.giNew, .giUpdated {
  color: #f6f6f6 !important;
  border-color: #f6f6f6 !important;
}

.giTitle, #gallery h2, #gallery h3, #gallery h4 {
	color: #f6f6f6 !important;
}

div.gbTabBar span {
   background: url('tab_left.gif') no-repeat left top !important; }

#gallery div.gbTabBar span span {
	background: url('tab_right.gif') no-repeat right top !important; }

#gallery div.gbTabBar span.giSelected {
   background-image: url('tab_left_on.gif') !important; }

#gallery div.gbTabBar span.giSelected span {
	color: #888 !important;
	background-image: url('tab_right_on.gif') !important; }

	
.gbBlock li {
	color: #f6f6f6 !important;
}

#gsSidebar ul span {
	color: #888 !important;
}


#gallery div.gbTabBar a {
	color: #777 !important;
	text-decoration: none!important;
}

#gallery div.gbTabBar a:hover {
	color: #f6f6f6 !important;
}

span.bsw_ButtonDisabled {
  color: #555 !important;
}

.NavBorder {
	border: 0 solid #888 !important;
	border-top-width: 2px !important;
}


.menuoff {
	color: #a0a0a0 !important;
}

.descSeparator {
	border-color: #555 !important;
}

.giThumbnail {
	background-color: #000 !important;
}


div#menu a,div#menu a:visited {color: #a0a0a0 !important;}

.helplink a {
	color: #ffffff !important;
	background-color: #ccddff !important;
}

.helplink a:hover {
	color: #88aadd !important;
	background-color: #bbccff !important;
}
.helplink a:active {
	color: #6666dd !important;
}

/*
*******    ** rating ****    ****
*/
.giRatingEmpty {
	background: transparent url('images/rating/star_r_0.0.gif') no-repeat !important;
}
.giRatingEmptyUserYes {
	background: transparent url('images/rating/star_u_noborder.gif') no-repeat !important;
}
.giRatingHalfUserNo {
	background: transparent url('images/rating/star_r_0.5.gif') no-repeat !important;
}
.giRatingHalfUserYes {
	background: transparent url('images/rating/star_07.gif') no-repeat !important;
}
.giRatingFullUserNo {
	background: transparent url('images/rating/star_r_1.0.gif') no-repeat !important;
}
.giRatingFullUserYes {
	background: transparent url('images/rating/star_u_1.0.gif') no-repeat !important;
}
.giRatingAverage {
	background-color: #777 !important;
	height: 8px;
}
.giRatingAverageContainer {
	border: 1px solid #6f6f6f !important;
	height: 8px;
	width: 80px;
}
