/* ^PHPCS_CSS_T_OPEN_TAG^ $colorpackName = $gallery->i18n('PG Blue'); ^PHPCS_CSS_T_CLOSE_TAG^
 * $Revision: 2.0 $ $Date: 2006/03/14
 */

#gallery {
  color: #000 !important;
  background-color: #babaf8 !important;
}
body.gallery, .PPBackground  { background-color: #babaf8 !important; }

.gcBackground1 { background-color: #aaaae8 !important; }
.gcBackground2, .iframeBackground { background-color: #9a9ad8 !important; }

.gcBorder1 { border-color: #8888c8 !important; }
.gcBorder2 { border-color: #5555b8 !important; }
.gcBorder1Author { border-right: 1px solid #8888c8 !important;}
.gcBorder1Top {border-bottom: 1px solid #8888c8 !important;}


#gallery a { color: #336 !important; }
#gallery a:hover { color: #366 !important; }
#gallery a:active { color: #399 !important; }

.giSuccess { color: #190 !important; }
.giWarning { color: #b31 !important; }
.giError { color: #d14 !important; }
.giInfo { color: #658 !important; }
.block-core-PeerList .current { color: #67b !important; }

table.gbDataTable th { background-color: #9a9ad8 !important; }
.gbEven { background-color: #babaf8 !important; }
.gbOdd { background-color: #aaaae8 !important; }

input.inputTypeSubmit, input.inputTypeButton { background-color: #cce !important; }
#gallery select { background-color: #ddf !important; }


.giNew, .giUpdated {
  color: #e3dEfC !important;
  border-color: #e3dEfC !important;
}

.giTitle, #gallery h2, #gallery h3, #gallery h4 {
	color: #e3dEfC !important;
}

div.gbTabBar span {
   background: url('tab_left.gif') no-repeat left top !important; }

#gallery div.gbTabBar span span {
	background: url('tab_right.gif') no-repeat right top !important; }

#gallery div.gbTabBar span.giSelected {
   background-image: url('tab_left_on.gif') !important; }

#gallery div.gbTabBar span.giSelected span {
	color: #336 !important;
	background-image: url('tab_right_on.gif') !important; }
	
.gbBlock li {
	color: #eee !important;
}

#gsSidebar ul span {
	color: #5555b8 !important;
}


#gallery div.gbTabBar a {
	color: #9a9ad8 !important;
	text-decoration: none!important;
}

#gallery div.gbTabBar a:hover {
	color: #eee !important;
}

span.bsw_ButtonDisabled {
  color: #669 !important;
}

.NavBorder {
	border: 0 solid #77a !important;
	border-top-width: 2px !important;
}


.menuoff {
	color: #9a9ad8 !important;
}

div#menu a,div#menu a:visited {color: #9a9ad8 !important;}

.descSeparator {
	border-color: #669 !important;
}

.giThumbnail {
	background-color: #000 !important;
}

.helplink a {
	color: #ffffff !important;
	background-color: #ccddff !important;
}

.helplink a:hover {
	color: #88aadd !important;
	background-color: #bbccff !important;
}
.helplink a:active {
	color: #6666dd !important;
}

/*
*******    ** rating ****    ****
*/
.giRatingEmpty {
	background: transparent url('images/rating/star_r_0.0.gif') no-repeat !important;
}
.giRatingEmptyUserYes {
	background: transparent url('images/rating/star_u_noborder.gif') no-repeat !important;
}
.giRatingHalfUserNo {
	background: transparent url('images/rating/star_r_0.5.gif') no-repeat !important;
}
.giRatingHalfUserYes {
	background: transparent url('images/rating/star_07.gif') no-repeat !important;
}
.giRatingFullUserNo {
	background: transparent url('images/rating/star_r_1.0.gif') no-repeat !important;
}
.giRatingFullUserYes {
	background: transparent url('images/rating/star_u_1.0.gif') no-repeat !important;
}
.giRatingAverage {
	background-color: #8888c8 !important;
	height: 8px;
}
.giRatingAverageContainer {
	border: 1px solid #6f6f6f !important;
	height: 8px;
	width: 80px;
}
