	<script type="text/javascript">
	  // <![CDATA[
	  function BlockToggle(objId, togId) {
		var o = document.getElementById(objId), t = document.getElementById(togId);
		if (o.style.display == 'none') {
			o.style.display = 'inline';
			t.innerHTML = '-';
		} else {
			o.style.display = 'none';
			t.innerHTML = '+';
		}
	  }
	  // ]]>
	</script>

	<h1><?php echo _('System Checks'); ?></h1>

	<div class="systemChecks">
	<table>
	<?php
	foreach ($templateData['check'] as $check) {
		?>
	  <tr>
	<td>
		<?php echo $check['title']; ?>
	</td>

	<td style="float: right">
		<?php
		if (isset($check['success'])) {
			?>
		<h2 class="success"> <?php echo _('Success'); ?> </h2>
			<?php
		} elseif (isset($check['warning'])) {
			?>
		<h2 class="warning"> <?php echo _('Warning'); ?> </h2>
			<?php
		} else {
			?>
		<h2 class="error"> <?php echo _('Failed'); ?> </h2>
			<?php
		} ?>
	</td>
	  </tr>

		<?php
		if (isset($check['notice'])) {
			?>
	  <tr>
	<td colspan="2" class="notice">
			<?php echo $check['notice']; ?>
	</td>
	  </tr>
			<?php
		} ?>
		<?php
	}
	?>
	</table>

	<?php
	if (!empty($templateData['suggestedHtaccess'])) {
		?>
	<p> <?php echo _('If you are using Apache, create a file named .htaccess in the main Gallery directory with the following content:'); ?> </p>
	<div class="example">
	  <pre><?php echo $templateData['suggestedHtaccess']; ?></pre>
	</div>
		<?php
	}
	?>

	</div>
