  <span id="SystemCheck_<?php echo $blockId; ?>_toggle"
		onclick="BlockToggle('SystemCheck_<?php echo $blockId; ?>', 'SystemCheck_<?php echo $blockId; ?>_toggle_indicator')">
	<span id="SystemCheck_<?php echo $blockId; ?>_toggle_indicator" class="showHideToggle">+</span>
	<b>
		<?php echo $heading; ?>
	</b>
  </span>
	<?php
	if (!empty($notice)) {
		?>
  <br/>
		<?php echo $notice; ?>
		<?php
	}
	?>
  <textarea wrap="off" readonly="readonly" rows="<?php echo count($files); ?>"
			class="manifestBlock" id="SystemCheck_<?php echo $blockId; ?>"
			style="display: none">
	<?php
	foreach ($files as $fileName) {
		?>
		<?php echo "$fileName\n"; ?>
		<?php
	}
	?>
  </textarea>
