  <h1><?php echo _('Upgrade Plugins'); ?></h1>

  <script type="text/javascript">
	// <![CDATA[
	function checkAll(newValue) {
	for (var i = 0; i < document.forms[0].length; i++) {
		var element = document.forms[0].elements[i];
		if (element.type == 'checkbox' &&
		element.name.substr(0,6) == 'module' && !element.disabled) {
		element.checked = newValue;
		}
	}
	}
	// ]]>
  </script>

  <p>
	<?php echo _('The following plugins can be automatically upgraded for you.  If you choose not to upgrade them now, you may experience problems with your Gallery.   You can always upgrade or deactivate them on the Site Administration page, or return to this page later so any decision you make here is not permanent.'); ?>
  </p>

	<?php
	if (!empty($templateData['deactivatedPlugins'])) {
		?>
	<div class="warning">
	  <h2> <?php echo _('Deactivated Plugins'); ?> </h2>
	  <div>
		<?php echo _('The following plugins were active, but they are missing or incompatible with your current version of Gallery.  They have been deactivated.  Install the latest version of these plugins to reactivate them.'); ?>
	  </div>
	  <div>
	<ul>
		<?php
		foreach ($templateData['deactivatedPlugins'] as $pluginType => $list) {
			$pluginType = ($pluginType == 'module') ? _('Module') : _('Theme');

			foreach ($list as $pluginId) {
				echo "<li> $pluginType: $pluginId </li>";
			}
		} ?>
	</ul>
	  </div>
	</div>
		<?php
	}
	?>

  <form method="post" action="<?php generateUrl('index.php?step=' . $stepNumber); ?>">
	<table class="modules">
	  <tr style="background-color: #ccc">
		<th>
		  &nbsp;
		</th>
		<th>
			<?php echo _('Name'); ?>
		</th>
		<th>
			<?php echo _('Current'); ?>
		</th>
		<th>
			<?php echo _('New'); ?>
		</th>
		<th>
			<?php echo _('Description'); ?>
		</th>
	  </tr>
		<?php
		$upgradableCount = 0;

		foreach ($templateData['groupedModules'] as $group => $modules) {
			?>
		<tr style="background-color: #fff">
		  <td colspan="4"><h3><?php echo $templateData['groupLabel'][$group]; ?></h3></td>
		</tr>
			<?php $counter = 0; ?>
			<?php
			foreach ($modules as $id => $module) {
				?>
				<?php $isUpgradeable = isset($templateData['pluginIsUpgradeable']['module'][$id]) ? $templateData['pluginIsUpgradeable']['module'][$id] : $templateData['pluginIsUpgradeable']['theme'][$id]; ?>
				<?php $isCompatible = isset($templateData['pluginIsCompatible']['module'][$id]) ? $templateData['pluginIsCompatible']['module'][$id] : $templateData['pluginIsCompatible']['theme'][$id]; ?>
		<tr
				<?php
				if ($counter % 2 == 0) {
					echo ' style="background-color: #eee; padding: 0px; margin: 0px;"';
				} ?>
		>
		  <td>
			<input type="checkbox" id="plugin_<?php echo $id; ?>"
			  name="<?php echo $templateData['groupType'][$group] . '[' . $id . ']'; ?>"
				<?php
				if ($isUpgradeable) {
					?>
			checked="checked"
					<?php
					$upgradableCount++;
				} else {
					?>
			disabled="disabled"
					<?php
				} ?>
			/>
		  </td>
		  <td>
				<?php
				if (!$isUpgradeable) {
					?>
					 <span class="disabled"> 
					<?php
				} ?>
			<label for="plugin_<?php echo $id; ?>">
				<?php echo $module->getName(); ?>
			</label>
				<?php
				if (!$isUpgradeable) {
					?>
					 </span> 
					<?php
				} ?>
		  </td>
		  <td>
				<?php
				if (!$isUpgradeable) {
					?>
					 <span class="disabled"> 
					<?php
				} ?>
				<?php echo $templateData['currentVersion'][$id]; ?>
				<?php
				if (!$isUpgradeable) {
					?>
					 </span> 
					<?php
				} ?>
		  </td>
		  <td>
				<?php
				if (!$isUpgradeable) {
					?>
					 <span class="disabled"> 
					<?php
				} ?>
				<?php echo $module->getVersion(); ?>
				<?php
				if (!$isUpgradeable) {
					?>
					 </span> 
					<?php
				} ?>
		  </td>
		  <td>
				<?php
				if (!$isUpgradeable) {
					?>
					 <span class="disabled"> 
					<?php
				} ?>
				<?php echo $module->getDescription(); ?>
				<?php
				if (!$isUpgradeable) {
					?>
					 </span> 
					<?php
				} ?>

				<?php
				if (!$isCompatible) {
					?>
		<h2 class="error"><?php echo _('Incompatible with this version of Gallery'); ?></h2>
					<?php
				} ?>
		  </td>
		</tr>
				<?php $counter++; ?>
				<?php
			} ?>
			<?php
		}
		?>
		<?php
		if ($templateData['anyUpgradeable']) {
			?>
	  <tr style="background-color: #ccc">
		<td>
		  <input type="checkbox" onclick="checkAll(this.checked);" checked="checked"/>
		</td>
		<td colspan="4">
			<?php echo _('(un)check all'); ?>
		  <input type="hidden" name="step" value="<?php echo $currentStep->getStepNumber(); ?>"/>
		  <input type="hidden" name="upgrade" value="<?php echo $upgradableCount; ?>"/>
		</td>
	  </tr>
			<?php
		}
		?>
	</table>
  </form>

	<?php
	if (!empty($templateData['errors'])) {
		?>
		<?php
		foreach ($templateData['errors'] as $error) {
			?>
  <h3 class="error">
			<?php echo $error; ?>
  </h3>
			<?php
		} ?>
		<?php
	}
	?>

	<?php
	if (!empty($templateData['stackTrace'])) {
		?>
  <h2>
		<?php echo _('Stack Trace:'); ?>
  </h2>
  <div class="stack_trace">
		<?php echo $templateData['stackTrace']; ?>
  </div>
		<?php
	}
	?>

	<?php
	if (!empty($templateData['debug'])) {
		?>
  <h2>
		<?php echo _('Debug Output:'); ?>
  </h2>
  <div class="debug">
	<pre>
		<?php echo $templateData['debug']; ?>
	</pre>
  </div>
		<?php
	}
	?>

	<?php
	if ($templateData['anyUpgradeable']) {
		?>
  <div class="go">
		<?php $nextStep = $stepNumber + 1; ?>
	<a href="<?php generateUrl('index.php?step=' . $nextStep); ?>" class="btn continue"><i></i><span><span></span><i></i><?php printf(_('Skip Upgrade and Continue to Step %d&raquo;'), $nextStep); ?></span></a>
	<a href="javascript:document.forms[0].submit();" class="btn continue"><i></i><span><span></span><i></i><?php echo _('Upgrade Selected Plugins'); ?></span></a>
  </div>
		<?php
	} ?>
