	<h1><?php echo 'Upgrade Plugins'; ?></h1>

	<?php if (isset($templateData['upgradedModule'])) : ?>
	<ul class="success">
		<?php foreach ($templateData['upgradedModule'] as $moduleId => $moduleName) : ?>
	  <li><?php printf('Upgraded the %s module successfully', "<i>$moduleName</i>"); ?></li>
		<?php endforeach; ?>
	</ul>
	<?php endif; ?>

	<?php if (isset($templateData['upgradedTheme'])) : ?>
	<ul class="success">
		<?php foreach ($templateData['upgradedTheme'] as $themeId => $themeName) : ?>
	  <li><?php printf('Upgraded the %s theme successfully', "<i>$themeName</i>"); ?></li>
		<?php endforeach; ?>
	</ul>
	<?php endif; ?>

	<?php if (!empty($templateData['needsConfig'])) : ?>
	<ul class="warning">
		<?php foreach ($templateData['needsConfig'] as $warning) : ?>
	  <li><?php echo $warning; ?></li>
		<?php endforeach; ?>
	</ul>
	<?php endif; ?>

	<?php if (!empty($templateData['stackTrace'])) : ?>
	<h2>
		<?php echo 'Stack Trace:'; ?>
	</h2>
	<div class="stack_trace">
		<?php echo $templateData['stackTrace']; ?>
	</div>
	<?php endif; ?>

	<?php if (!empty($templateData['debug'])) : ?>
	<h2>
		<?php echo 'Debug Output:'; ?>
	</h2>
	<div class="debug">
	  <pre>
		<?php echo $templateData['debug']; ?>
	  </pre>
	</div>
	<?php endif; ?>

	<?php if ($templateData['anyUpgradeable']) : ?>
	<div class="go">
	  <a href="<?php generateUrl('index.php?step=' . $currentStep->getStepNumber()); ?>" class="btn continue"><i></i><span><span></span><i></i><?php echo 'Upgrade More Plugins'; ?></span></a>
		<?php $nextStep = $stepNumber + 1; ?>
	  <a href="<?php generateUrl('index.php?step=' . $nextStep); ?>" class="btn continue"><i></i><span><span></span><i></i><?php printf('Continue to Step %d&raquo;', $nextStep); ?></span></a>
	</div>
	<?php endif; ?>
